type recovery, domain;
type data_file, dir;
type metadata_file, dir;
type device, fs_type;

allow recovery device:blk_file read;
allow recovery device:blk_file getattr;
type cryptfs_device, blk_file;
label blk_file cryptfs_device;
allow recovery cryptfs_device:blk_file read;
allow recovery cryptfs_device:blk_file write;
allow recovery self:capability2 sys_admin;
allow recovery self:capability2 dac_override;
allow recovery self:capability2 chown;

allow recovery device_mapper:chr_file { getattr open read write ioctl };
allow recovery dm_ioctl:blk_file      { getattr open read write ioctl };
allow recovery dm_ioctl:unix_dgram_socket { connectto };
allow recovery block_device:blk_file   { getattr open read write };

allow recovery ext4_crypt:filesystem_type   mounton;
allow recovery f2fs:filesystem_type         mounton;
allow recovery fuse:filesystem_type         mounton;
allow recovery vfat:filesystem_type         mounton;
allow recovery sdcardfs:filesystem_type     mounton;
allow recovery fat:filesystem_type          mounton;
allow recovery metadata_file:dir   { search open };
allow recovery metadata_file:file  { read open };
allow recovery data_file:dir       { search open };
allow recovery data_file:file      { read open };
allow recovery tmpfs:filesystem_type  mounton;
allow recovery loop_device:blk_file   { getattr open read write ioctl };
