allow vold fscrypt_blk:blk_file ioctl;
allow vold fscrypt_key:file { open read write getattr };
allow vold keymaster_service:unix_stream_socket connectto;
allow recovery fscrypt_blk:blk_file ioctl;
allow recovery fscrypt_key:file { open read write getattr };
allow recovery keymaster_service:unix_stream_socket connectto;
allow vold metadata_block_device:blk_file { open read write ioctl getattr };
allow recovery metadata_block_device:blk_file { open read write ioctl getattr };
allow vold userdata_block_device:blk_file { open read write ioctl getattr };
allow recovery userdata_block_device:blk_file { open read write ioctl getattr };
allow vold sysfs:file read;
allow recovery sysfs:file read;
allow vold dm_device:blk_file { open read write ioctl getattr };
allow recovery dm_device:blk_file { open read write ioctl getattr };
