require {
    type vold;
    type recovery;
    type fscrypt_blk;
    type fscrypt_key;
    type keymaster_service;
    class blk_file ioctl;
    class file { open read write getattr };
    class unix_stream_socket connectto;
}
allow vold fscrypt_blk:blk_file ioctl;
allow vold fscrypt_key:file { open read write getattr };
allow vold keymaster_service:unix_stream_socket connectto;
allow recovery fscrypt_blk:blk_file ioctl;
allow recovery fscrypt_key:file { open read write getattr };
allow recovery keymaster_service:unix_stream_socket connectto;
